<h3 class="about_title text-center">About Us</h3>
<p style="margin: 5px 0 30px;">
  dammydammydammydammydammydammydammydammydammydammydammy<br>
  dammydammydammydammydammydammydammydammydammydammydammydammydammydammy<br>
  dammydammydammydammydammydammy
</p>
<div class="text-center">
  <%= image_tag('tachibana.png', :class => "about_us_icon") %>
  <div style="font-size:x-large;">
    Yuto Tachibana
  </div>
  <div style="margin-bottom: 100px;">
    某SIerで企画をやっています。<br>
    好きなものはAlexaと暗号通貨<br>
    Twitter: <a href="https://twitter.com/tachibanayu24">@tachibanayu24</a>
  </div>
</div>

<div class="user-margin"></div>

<div class="text-center">
  <%= image_tag('dummy.png', :size => '150x150') %>
  <div style="font-size:x-large;">
    Kenki Seki
  </div>
  <div style="margin-bottom: 100px;">
    birth: September 28, 1995<br>
    account: @seki_huruwanai<br>
    Motto of motto: It's not funny if it's not foolish.
  </div>
</div>