
<div class="stamp_description">
  <% if @current_user.count > 0 %>
    <span class="stamp_description_main">現在<strong><%= @current_user.count %>個</strong>の労働スタンプが押されています！</span><br>
    <span class="stamp_description_sub"><%= @work_msg %></span><br>
    <span class="stamp_description_sub"><%= @work_msg_sub %></span>
  <% else %>
    <span class="stamp_description_main">まだあなたは労働スタンプを押していません。</span><br>
    <span class="stamp_description_sub">スタンプを押して、労働のよろこびを共有しましょう！</span>
  <% end %>
</div>

<div class="stamp">
  <span class="stamp_image"><%= link_to image_tag("stamp.png"), "/user/count", :method => :post %></span>
</div>
<span class="stamp_push">今日も頑張った方は、スタンプを押してください</span>