<h1>User#mypage</h1>
<p>Find me in app/views/user/mypage.html.erb</p>

<p>uid:<%= @current_user.uid %></p>
<p>count:<%= @current_user.count %></p>
<p>name:<%= @current_user.name %></p>
<p>image:</p><img src= <%= @current_user.image %> >