/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  background-color: #fff;
  margin:0;
  height: 80px
}

.logo {
  margin: 10px 3px;
}

.page_button {
  margin: 10px 3px;
}

.flash {
  width: 400px;
  background-color:#409ecc;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
}

footer {
  background-color: #000;
  color : #fff;
}

.user_img{
  border-radius: 50%;
}