// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_img {
  border-radius: 50%;
}

.mypage_button {
  margin: 5px 10px;
}

.font_forcus {
  font-size: 2.0rem;
  font-weight: bold;
}

.stamp_description {
  margin: 40px;
}

.stamp_description_main {
  font-size: 30px;
  margin: 20px;
}

.stamp_description_sub {
  font-size: 20px;
  margin: auto 40px;
}

.stamp {
  background-color: #e8e8e8;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: auto ;
  line-height: 300px;
  position: relative;
}

.stamp_image {
  vertical-align:middle;
}

.stamp_push {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-size: 12px;
}