// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_img {
  border-radius: 50%;
}

.mypage_button {
  margin: 5px 10px;
}

.font_forcus {
  font-size: 2.0rem;
  font-weight:bold;
}